@model Phoenix.Data.Models.PostDetail
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    var CurrentUser = await UserManager.GetUserAsync(User);
    ViewBag.Title = $"{Model.Title}";
    CategoryItem category = null;
    if (Model.Categories != null && Model.Categories.Count > 0)
    {
        category = Model.Categories.FirstOrDefault();
    }
    var CommentCount = 0;
    if (Model.Comments != null && Model.Comments.Count == 3)
    {
        CommentCount = Model.Comments[1].Length;
    }
}




<article class="post post-single" id="post0">
    <header class="post-header">
        <h1 class="post-title">@Model.Title</h1>
        <div class="post-meta">
            <span class="post-author">By @Model.Author.DisplayName</span>
            <span class="post-date">/ @Model.DateCreated</span>
            @if (Model.Categories != null)
            {
                <text>/</text>
                <span class="post-category d-none d-sm-inline">
                    @for (int i = 0; i < Model.Categories.Count; i++)
                    {
                        var cat = Model.Categories[i];
                        <a href="~/category/@cat.Id">@cat.Title</a>
                        if (i > 0)
                        {
                            <text>,</text>
                        }
                    }
                </span>
            }
            @*<div class="dropdown post-share float-md-right">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i>share</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item item-fb" href="https://www.addtoany.com/add_to/facebook?linkurl=http://francisdotbio.com/indigo/post/11&amp;linkname=A travel photographer's tips on getting the best travel pics" target="_blank"><i class="fa fa-facebook-square"></i>Facebook</a>
                        <a class="dropdown-item item-tw" href="https://www.addtoany.com/add_to/twitter?linkurl=http://francisdotbio.com/indigo/post/11&amp;linkname=A travel photographer's tips on getting the best travel pics" target="_blank"><i class="fa fa-twitter-square"></i>Twitter</a>
                        <a class="dropdown-item item-gp" href="https://www.addtoany.com/add_to/google_plus?linkurl=http://francisdotbio.com/indigo/post/11&amp;linkname=A travel photographer's tips on getting the best travel pics" target="_blank"><i class="fa fa-google-plus-square"></i>Google +</a>
                        <a class="dropdown-item item-ln" href="https://www.addtoany.com/add_to/linkedin?linkurl=http://francisdotbio.com/indigo/post/11&amp;linkname=A travel photographer's tips on getting the best travel pics" target="_blank"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
                        <a class="dropdown-item item-pi" href="https://www.addtoany.com/add_to/pinterest?linkurl=http://francisdotbio.com/indigo/post/11&amp;linkname=A travel photographer's tips on getting the best travel pics" target="_blank"><i class="fa fa-pinterest-square"></i>Pinterest</a>
                        <a class="dropdown-item item-em" href="https://www.addtoany.com/add_to/email?linkurl=http://francisdotbio.com/indigo/post/11&amp;linkname=A travel photographer's tips on getting the best travel pics" target="_blank"><i class="fa fa-envelope-square"></i>Email</a>
                        <a class="dropdown-item item-em" href="https://www.addtoany.com/share?linkurl=http://francisdotbio.com/indigo/post/11&amp;linkname=A travel photographer's tips on getting the best travel pics" target="_blank"><i class="fa fa-plus-square"></i>Share...</a>
                    </div>
                </div>*@
        </div>
    </header>
    <section class="post-body content-stlye">
        @Html.Raw(Model.Content)
    </section>
    <footer class="post-footer">
        <div class="post-tags">

            @if (Model.Tags.Count > 0)
            {
                @foreach (var tag in Model.Tags)
                {
                    <a asp-controller="Tag" asp-action="Index" rel="tag" asp-route-tag="@tag.TagName">@tag.TagName</a>
                }
            }

        </div>

    </footer>
</article>






@*<div id="relatedPosts" class="well-global">
        <h3 class="well-global-title">相关文章</h3>
        <ul class="related-posts">

            <li class="related-posts-item">
                <a href="/indigo/post/11">A travel photographer's tips on getting the best travel pics</a>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt</span>
            </li>

            <li class="related-posts-item">
                <a href="/indigo/post/10">What are the dangers of the amazon rain forest</a>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt</span>
            </li>

            <li class="related-posts-item">
                <a href="/indigo/post/06">The best advanced surfing tips and techniques</a>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt</span>
            </li>

        </ul>
    </div>*@




@*@await Component.InvokeAsync("Comment", new { id = Model.Id })*@


@section Styles {

}

@section Scripts {
    <script type="text/javascript" src="~/lib/lazysizes/lazysizes.min.js" async=""></script>
}
